In [3]:
!pip install xgboost -U -q
!pip install sklearn -U -q
!pip install shap -U -q

     |████████████████████████████████| 569 kB 5.3 MB/s

In [4]:
import pandas as pd
import numpy as np
import itertools
import pickle
from xgboost import XGBRegressor
from sklearn.preprocessing import StandardScaler
import shap

In [7]:
X = pd.read_json('X.json')

In [8]:
model_xgb = pickle.load(open('model_xgb.pkl','rb'))

In [9]:
model_xgb

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [10]:
scaler = pickle.load(open('scaler.pkl','rb'))

In [11]:
X

,JobRole,Gender,JobSatisfaction,YearsAtCompany,NumCompaniesWorked
0,Healthcare Representative,Female,1.157359,-0.980272,-0.677226
1,Research Scientist,Female,-0.657940,-0.329582,-1.077952
2,Sales Executive,Male,-0.657940,-0.329582,-0.677226
3,Human Resources,Male,1.157359,0.158435,0.124225
4,Sales Executive,Male,-1.565590,-0.166910,0.524950
...,...,...,...,...,...
4295,Human Resources,Female,1.157359,-0.166910,-0.677226
4296,Research Scientist,Female,-1.565590,-0.654927,0.124225
4297,Laboratory Technician,Male,1.157359,-0.654927,-0.276501
4298,Sales Executive,Male,0.249709,-0.492255,-1.077952
4299,Laboratory Technician,Male,-1.565590,0.321108,-1.077952

In [12]:
selected_df = pd.read_json('selected_df.json')

In [13]:
shap_values = pickle.load(open('shap_values.pkl','rb'))
explainer = shap.TreeExplainer(model_xgb)

In [14]:
ohe = pickle.load(open('ohe.pkl','rb'))

In [15]:
cats = list(itertools.chain(*ohe.categories_))